<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
  debug="false">

  <appender name="CONSOLE-INFO" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%-5p - %-30c{1} - %m%n"/>
    </layout>
    <filter class="org.apache.log4j.varia.LevelMatchFilter">
      <param name="levelToMatch" value="info"/>
      <param name="acceptOnMatch" value="true"/>
    </filter>
    <filter class="org.apache.log4j.varia.DenyAllFilter"/>
  </appender>

  <logger name="org.apache">
    <level value="WARN"/>
  </logger>
  <logger name="org.springframework">
    <level value="debug"/>
  </logger>
  <logger name="org.apache.activemq">
    <level value="info"/>
  </logger>
  <logger name="org.apache.activemq.store.kahadb">
    <level value="warn"/>
  </logger>
  <logger name="com.icodingclub.jms">
    <level value="debug"/>
  </logger>

  <root>
    <priority value="debug"/>
    <appender-ref ref="CONSOLE-INFO"/>
  </root>

</log4j:configuration>